<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG-IN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
     {% if messages %}
    <ul>
        {%for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Welcome! Let's travel!</h1>
    <form action="/register" method="POST" class="form form-group">
        {% csrf_token %}
        <label for="f_name">First Name</label>
        <input type="text" name="f_name">
        <label for="l_name">Last Name</label>
        <input type="text" name="l_name">
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="text" name="password">
        <label for="confirm">Confirm pw</label>
        <input type="text" name="confirm">
        <button type="submit">Register</button>
    </form>
    <form action="/login" method="POST" class="form form-group">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="text" name="password">
        <button type="submit">Login</button>
    </form>
    
</body>
</html>